<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %>
    <title>Node.js express mongoDB CRUD</title>
</head>
<body>
    <h2> Oops ! No page found !! Error 404 </h2>
</body>
</html>